
IDD_BACKENDS DIALOGEX 0,0, 256, 256 + 128
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "",IDDI_BACKENDS_LIST_LABEL, 8, 5, 220, 14

   LTEXT "Tools in use for the current document. Operation is in top to bottom order.\rProperties changed here apply to this document only:",IDDI_BACKENDS_TOP_LIST_LABEL, 8, 20, 240 + 16, 24
   CONTROL "", IDDI_BACKENDS_TOP_LIST, WC_LISTVIEWA, LVS_REPORT | LVS_OWNERDRAWFIXED | LVS_NOSORTHEADER | WS_CHILD, 8, 20 + 14 + 12, 240 + 16, 64, WS_EX_CLIENTEDGE

   LTEXT "Tools available for use. Properties changed here apply to documents not yet\rdefined to the system (defaults).",IDDI_BACKENDS_BOTTOM_LIST_LABEL, 8, 20, 240 + 16, 24
   CONTROL "", IDDI_BACKENDS_BOTTOM_LIST, WC_LISTVIEWA, LVS_REPORT | LVS_OWNERDRAWFIXED | LVS_NOSORTHEADER | WS_VISIBLE | WS_CHILD, 8, 20 + 32 + 24, 240 + 16, 64, WS_EX_CLIENTEDGE

   LTEXT "When the disposition is associated to a CursiVision Process, set the backends settings in that proccess rather than here.",IDDI_ASSOCIATION_MESSAGE,10,256 + 128, 512 + 512, 128

END


#if defined CURSIVISION_BUILD || defined CURSIVISION_CONTROL_BUILD

IDD_DISPOSITION_MULTI_SIGN_PROPERTIES DIALOGEX 0, 0, 256 + 16, 128 + 32 + 16
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "After each signature is gathered, move the signing area",-1,16,16, 128 + 64, 12
   EDITTEXT IDDI_DISPOSITION_MULTI_SIGN_RIGHT_MOTION,16 + 16, 16 + 12, 40, 12, ES_CENTER
   LTEXT "inches to the right, and",-1,16 + 16 + 40 + 4, 16 + 12 + 4, 128, 12
   EDITTEXT IDDI_DISPOSITION_MULTI_SIGN_DOWN_MOTION,16 + 16, 16 + 12 + 12 + 4, 40, 12, ES_CENTER
   LTEXT "inches down in the document",-1,16 + 16 + 40 + 4, 16 + 12 + 4 + 12 + 4, 128, 12

   LTEXT "When",-1,16, 16 + 12 + 4 + 12 + 4 + 16, 24, 12
   EDITTEXT IDDI_DISPOSITION_SAVE_AFTER_SIGN_COUNT,16 + 16 + 6 + 4,16 + 12 + 4 + 12 + 4 + 16 - 4,20,12,ES_CENTER | ES_NUMBER
   LTEXT "signatures have been gathered, process the file as indicated",-1,16 + 16 + 4 + 20 + 6 + 10 + 4,16 + 12 + 4 + 12 + 4 + 16,128 + 64,24
   LTEXT "in the disposition settings",-1,16,16 + 12 + 4 + 12 + 4 + 16 + 12,128 + 64,24

   LTEXT "Use these values to collect a list of signatures on a single document over \r\
a period of time.",-1,16,16 + 12 + 4 + 12 + 4 + 16 + 12 + 32,256, 128
   LTEXT "For example, to fill in a sign-in sheet, specify as many signatures as you have\r\
lines on the sheet and have the signature box move down the distance\r\
between each line.",-1,16,16 + 12 + 4 + 12 + 4 + 16 + 12 + 32 + 24,256, 128
   
END

#endif

#ifndef ADDITIONAL_TOP_SPACE

#  ifdef NO_CURSIVISION_PROPERTIES

#     ifdef DO_PROCESSES
#        define ADDITIONAL_TOP_SPACE  -16
#     else
#        define ADDITIONAL_TOP_SPACE 0
#     endif

#  else

#     ifdef DO_PROCESSES
#        define ADDITIONAL_TOP_SPACE   -4
#     else
#        define ADDITIONAL_TOP_SPACE   0
#     endif

#  endif

#endif

#include "resultDispositionSaveOptionsMore.rc"

#ifdef CURSIVISION_CONTROL_BUILD
IDD_DISPOSITION_PROPERTIES DIALOGEX 0, 0, 256 + 32, 128
#else
IDD_DISPOSITION_PROPERTIES DIALOGEX 0, 0, 256 + 32, 128 + 64 + 64
#endif

STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

#ifndef NO_CURSIVISION_PROPERTIES

   LTEXT "When CursiVision processes a document it should:",IDDI_HEADER_TEXT, 10, 5, 180, 12

#ifdef DO_PROCESSES
   AUTOCHECKBOX "Use the CursiVision process:",IDDI_DISPOSITION_ASSOCIATE_PRC,   10,                           5 + 14, 64 + 38, 14
   EDITTEXT IDDI_DISPOSITION_ASSOCIATE_PROCESS_NAME,                             10 + 64 + 40,                 5 + 14,120, 12, ES_AUTOHSCROLL
   PUSHBUTTON "...", IDDI_DISPOSITION_ASSOCIATE_PROCESS_GET,                     10 + 64 + 38 + 4 + 120 + 2,   5 + 14,16, 12
#endif

//
//NTC: 2-2-2012
// This is not working. At some point it should be fixed.
//
#if 0
   LTEXT "Gather",-1,10,16 + 8 + ADDITIONAL_TOP_SPACE - 17, 24, 12
   EDITTEXT IDDI_DISPOSITION_SAVE_AFTER_SIGN_COUNT,10 + 24,16 + 8 + ADDITIONAL_TOP_SPACE - 17 - 4, 20, 12,ES_CENTER | ES_NUMBER
   LTEXT "signatures before saving or processing the document", -1,10 + 24 + 20 + 2 + 12,16 + 8 + ADDITIONAL_TOP_SPACE - 17, 128 + 40, 12
   PUSHBUTTON "Options",IDDI_DISPOSITION_MULTI_SIGN_OPTIONS,10 + 24 + 20 + 2 + 128 + 40 + 12,16 + 8 + ADDITIONAL_TOP_SPACE - 20, 32, 12
#endif

#endif

#include "resultDispositionSaveOptions.rc"

#define ROLLUP  16

#ifndef NO_CURSIVISION_PROPERTIES

#ifndef CURSIVISION_CONTROL_BUILD
#define MORE_ROLLUP 0
#else
#define MORE_ROLLUP 48
#endif

   LTEXT "Then ...",-1,10,102 + 14 + 10 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 14

   AUTORADIOBUTTON "Keep the signed document open",IDDI_DISPOSITION_RETAIN_SIGNED,   32,102 + 12  + 12 + 10 + ADDITIONAL_TOP_SPACE - ROLLUP, 180, 14, WS_GROUP
   AUTORADIOBUTTON "Re-open the original document",IDDI_DISPOSITION_REOPEN_ORIGINAL, 32,102 + 12  + 12 + 12 + 10 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 14
   AUTORADIOBUTTON "Close the document",IDDI_DISPOSITION_CLOSE_DOCUMENT,             32,102 + 12  + 12 + 12 + 12 + 10 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 14
   AUTORADIOBUTTON "Exit",IDDI_DISPOSITION_EXIT,                                     32,102 + 12  + 12 + 12 + 12 + 12 + 10 + ADDITIONAL_TOP_SPACE - ROLLUP, 24, 14
#ifdef CURSIVISION_CONTROL_BUILD
   LTEXT "(Actually exiting depends on the host application processing the ExitRequested event)",IDDI_DISPOSITION_EXIT_POST_LABEL, 32 + 24 + 8,104 + 12 + 12  + 12  + 12 + 12 + 10 + 2 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 20
#else
   LTEXT "(CursiVision always exits after signing when started by dropping a file on it's icon)",IDDI_DISPOSITION_EXIT_POST_LABEL, 32 + 24 + 8,104 + 12 + 12  + 12  + 12 + 12 + 10 + 2 + ADDITIONAL_TOP_SPACE - ROLLUP, 160, 20
#endif

#ifdef CURSIVISION_BUILD
#ifndef CURSIVISION_CONTROL_BUILD
   AUTOCHECKBOX "Notify me when CursiVision is waiting for the signing location",IDDI_DISPLAY_WAITING_SHOW,16,104 + 84 + 10 + 6 + ADDITIONAL_TOP_SPACE - ROLLUP - MORE_ROLLUP + 12 + 12 + 4, 256, 12
#endif
#endif

#ifndef CURSIVISION_CONTROL_BUILD

   LTEXT "When defining signing locations:",IDDI_DISPOSITION_CONTINUOUS_DOODLE_LABEL,     10,            104 + 72 + 10 + 8 + ADDITIONAL_TOP_SPACE - ROLLUP - MORE_ROLLUP, 160, 14
   AUTORADIOBUTTON "Sign once and save",IDDI_DISPOSITION_CONTINUOUS_DOODLE_OFF,           16,            104 + 84 + 10 + 6 + ADDITIONAL_TOP_SPACE - ROLLUP - MORE_ROLLUP, 90, 12, WS_GROUP
   AUTORADIOBUTTON "Sign until [ESC] is pressed",IDDI_DISPOSITION_CONTINUOUS_DOODLE_ON,   16 + 102 + 8,  104 + 84 + 10 + 6 + ADDITIONAL_TOP_SPACE - ROLLUP - MORE_ROLLUP, 128, 12

   AUTOCHECKBOX "Remember the signed location(s)",IDDI_DISPOSITION_REMEMBER,              16,            104 + 84 + 10 + 6 + 12 + 2 + ADDITIONAL_TOP_SPACE - ROLLUP - MORE_ROLLUP, 128, 12

#ifdef CURSIVISION_BUILD
   LTEXT "When CursiVision starts it should:",IDDI_DISPOSITION_SHOW_STARTUP_PROPERTIES_LABEL,   10,104 + 84 + 32 + ADDITIONAL_TOP_SPACE - ROLLUP + 12 + 12 + 4, 160, 14
   AUTOCHECKBOX "Show these properties",IDDI_DISPOSITION_SHOW_STARTUP_PROPERTIES,               16,104 + 84 + 32 + 12 - 2 + ADDITIONAL_TOP_SPACE - ROLLUP + 12 + 12 + 4,96,12, WS_GROUP
   AUTOCHECKBOX "Open the last opened document",IDDI_DISPOSITION_OPEN_LAST_DOCUMENT,            16,104 + 84 + 32 + 12 - 2 + 12 - 2 + ADDITIONAL_TOP_SPACE - ROLLUP + 12 + 12 + 4,128,12
#endif

#endif

#endif

#ifndef DONT_TERMINATE_DIALOG_TEMPLATE
END
#endif

