
#include <windows.h>
#include <winres.h>
#include <commctrl.h>

#include "thisToolBoxResource.h"
#include "resource.h"

#include "CursiVisionGlobal.h"

#include "versionInfo.h"

VINFO(VFT_DLL)

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "EnVisioNate\0"
            VALUE "FileDescription", "The CursiVision Replicator tool. Capture the signature once, then place it in configurable location(s) in the result.\0"
            VALUE "FileVersion", CV_PRODUCT_VERSION
            VALUE "InternalName", "Replicator.dll\0"
            VALUE "LegalCopyright", "Copyright © 2009-2025 EnVisioNate LLC\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "Replicator.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "CursiVision Replicator tool\0"
            VALUE "ProductVersion", CV_PRODUCT_VERSION
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


IDD_REPLICATOR DIALOGEX 0, 0, 512, 512
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE  
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   PUSHBUTTON "Reset",IDDI_REPLICATOR_RESET, 8, TEMPLATE_UI_TOP_MARGIN, 32, 14

   LTEXT "",IDDI_REPLICATOR_INSTRUCTIONS,    8, TEMPLATE_UI_TOP_MARGIN + 20, 160 - 16, 512

   LTEXT "",IDDI_TOOLBOX_NEED_ADMIN_PRIVILEGES,0,0,280, 24 

   CONTROL "", IDDI_REPLICATOR_INSTRUCTIONS + 256,STATIC, WS_VISIBLE, PDF_VIEW_MARGIN_LEFT,TEMPLATE_UI_TOP_MARGIN, 32,32, WS_EX_CLIENTEDGE

END

STRINGTABLE {

IDS_EDIT_INSTRUCTIONS "To replicate a signature, right click in the Native signature, and choose Replicate from the menu. \
Left Click and hold then move the mouse to the desired location (you can also navigate to a different page), and release the mouse button.\r\
To move a signature, left click within it and move the mouse while holding the button down.\r\
You can only move replicated signatures, native signatures will not move."

}
