// Copyright 2017 InnoVisioNate Inc. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include <windows.h>
#include <winres.h>
#include <commctrl.h>

#include "resource.h"

VS_VERSION_INFO VERSIONINFO

 FILEVERSION 4,0,0,0
 PRODUCTVERSION 4,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "InnoVisioNate\0"
            VALUE "FileDescription", "CursiVision Imaging back end\0"
            VALUE "FileVersion", "5, 0, 1, 0\0"
            VALUE "InternalName", "ImagingBackEnd.ocx\0"
            VALUE "LegalCopyright", "Copyright © 2009,2010,2011,2012,2013,2014 InnoVisioNate Inc.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "ImagingBackEnd.ocx\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "CursiVision Imaging back end\0"
            VALUE "ProductVersion", "5.0.1\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#define NO_CURSIVISION_PROPERTIES
#define DONT_TERMINATE_DIALOG_TEMPLATE
#define ADDITIONAL_TOP_SPACE 24

IDD_DISPOSITION_PROPERTIES DIALOGEX 0, 0, 256 + 32 + 16, 256 + 32 + 14 - 48
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   AUTOCHECKBOX "Show these properties every time",IDDI_SHOW_PROPERTIES, 16,8,128,12,WS_GROUP

   CONTROL "", IDDI_TABS, WC_TABCONTROLA, WS_VISIBLE | WS_CHILD, 8, 8 + 20, 256 + 16, 210

   LTEXT "Please choose the source scanning device:",IDDI_IMAGER_LABEL1,16,8 + 20 + 14 + 8, 160, 14

   EDITTEXT IDDI_IMAGER, 16, 8 + 20 + 14 + 8 + 14, 128 + 24, 14
   EDITTEXT IDDI_IMAGER_ID, 16, 8 + 20 + 14 + 8 + 14, 0,0

   PUSHBUTTON "...", IDDI_CHOOSE_DEVICE, 16 + 128 + 24 + 2, 8 + 20 + 14 + 8 + 14, 24, 14

   AUTOCHECKBOX "Skip image capture", IDDI_SKIP, 16, 8 + 20 + 14 + 8 + 14 + 14 + 4, 96, 14

#if 0
   PUSHBUTTON "Properties", IDDI_IMAGER_PROPERTIES, 16 + 128 + 24 + 4, 8 + 14 + 14 - 1, 48, 14
#endif

   LTEXT "Specify the top left corner of the image",IDDI_POSITION_LABEL, 14, 32, 124, 12
   LTEXT "Inches from the top of the document:",IDDI_POSITION_LABEL2,20, 32 + 14, 120, 12
   EDITTEXT IDDI_POSITION_FROMTOP,20 + 120, 32 + 14 - 4, 32, 12,ES_CENTER
   LTEXT "Inches from the left of the document:",IDDI_POSITION_LABEL3,20, 32 + 14 + 14, 120, 12
   EDITTEXT IDDI_POSITION_FROMLEFT,20 + 120, 32 + 14 + 14 - 4, 32, 12,ES_CENTER

   LTEXT "Specify the size of the image",IDDI_SIZE_LABEL, 14, 80, 124, 12
   AUTOCHECKBOX "Fit to page",IDDI_SIZE_FITTOPAGE, 20, 80 + 14, 75, 12
   LTEXT "Inches wide:",IDDI_SIZE_LABEL2,20, 80 + 14 + 14 + 4, 40, 12
   EDITTEXT IDDI_SIZE_WIDTH,20 + 40 + 4, 80 + 14 + 14 + 4 - 4, 32, 12,ES_CENTER
   LTEXT "Inches high:",IDDI_SIZE_LABEL3,20, 80 + 14 + 14 + 4 + 14, 40, 12
   EDITTEXT IDDI_SIZE_HEIGHT,20 + 40 + 4, 80 + 14 + 14 + 4 + 14 - 4, 32, 12,ES_CENTER
   AUTOCHECKBOX "Maintain aspect ratio", IDDI_SIZE_MAINTAIN_ASPECT_RATIO,20 + 40 + 4 + 32 + 4,80 + 14 + 14 + 7, 80, 12

   LTEXT "Specify the page that will contain the image",IDDI_PAGE_LABEL5, 14, 144, 160, 12
   AUTORADIOBUTTON "On this page:",IDDI_PAGE_PAGENO_OPT, 20, 144 + 14, 54, 12, WS_GROUP
   EDITTEXT IDDI_PAGE_PAGENO, 20 + 54 + 4,144 + 14 - 2, 32, 12,ES_CENTER
   AUTORADIOBUTTON "On the last page", IDDI_PAGE_ONLAST, 20, 144 + 14 + 14, 64, 12
   AUTORADIOBUTTON "Create a new last page", IDDI_PAGE_NEWLAST, 20,144 + 14 + 14 + 14, 128, 12

   AUTOCHECKBOX "Keep the captured image next to the document ?", IDDI_POSITION_KEEP_IMAGE, 14, 200, 255, 12

   LTEXT "Specify the file saving options:",IDC_STATIC,14,8 + 20 + 14 + 8, 160, 12

#undef ADDITIONAL_TOP_SPACE
#define ADDITIONAL_TOP_SPACE 48

#include "resultDispositionSaveOptions.rc"

   LTEXT "Changes are disabled because Admin privileges are required to change tools in printing profiles",IDDI_TOOLBOX_NEED_ADMIN_PRIVILEGES,
                           0,0,256, 24 

END

#include "resultDispositionSaveOptionsMore.rc"
