
#include <windows.h>
#include <winres.h>
#include <commctrl.h>

#include "resource.h"

#include "versionInfo.h"

VINFO(VFT_DLL)

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "InnoVisioNate\0"
            VALUE "FileDescription", "The CursiVision Imaging tool using a TWAIN scanner device. Scan one or more documents into the resulting document\0"
            VALUE "FileVersion", CV_PRODUCT_VERSION
            VALUE "InternalName", "TWAIN ImagingBackEnd.dll\0"
            VALUE "LegalCopyright", "Copyright © 2009-2023 InnoVisioNate Inc.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "TWAIN ImagingBackEnd.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "CursiVision TWAIN scanning tool\0"
            VALUE "ProductVersion", CV_PRODUCT_VERSION
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


#define SKIP_CURSIVISION_PROPERTIES
#define DONT_TERMINATE_DIALOG_TEMPLATE
#define ADDITIONAL_TOP_SPACE 24

IDD_SCAN_AGAIN DIALOGEX 0, 0, 128 + 32, 48
CAPTION "Scan Again ?"
STYLE DS_SETFONT | DS_3DLOOK | DS_CENTER | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "Would you like to scan another document ?",-1,8, 8, 128 + 32 - 8, 12

   PUSHBUTTON "Yes",IDOK, 8, 8 + 12 + 4, 32, 16
   PUSHBUTTON "No", IDNO, 8 + 32 + 8, 8 + 12 + 4, 32, 16

END

IDD_DISPOSITION_PROPERTIES DIALOGEX 0, 0, 256 + 64, 256 + 32
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   AUTOCHECKBOX "Show these properties every time",IDDI_SHOW_PROPERTIES, 8,8,128,12,WS_GROUP

   CONTROL "", IDDI_TABS, WC_TABCONTROLA, WS_VISIBLE | WS_CHILD,         8,  8, 272, 210

   AUTORADIOBUTTON "Skip scanning", IDDI_SKIP,                          20, 12,  96, 14
   AUTORADIOBUTTON "Scan one document", IDDI_SCAN_ONE,                  20, 26,  96, 14
   AUTORADIOBUTTON "Scan multiple documents", IDDI_SCAN_MULTIPLE,       20, 40,  96, 14
   LTEXT "Please choose the source scanning device:",IDDI_IMAGER_LABEL1,16, 60, 160, 14
   COMBOBOX IDDI_IMAGER,                                                16, 76, 152, 128, CBS_DROPDOWNLIST | WS_VSCROLL

   LTEXT "Specify the top left corner of the image",    2001,   14, 12, 124, 12
   LTEXT "Inches from the top of the document:",        2002,   20, 26, 120, 12
   EDITTEXT IDDI_POSITION_FROMTOP,                             140, 22,  32, 12,ES_CENTER
   LTEXT "Inches from the left of the document:",       2003,   20, 40, 120, 12
   EDITTEXT IDDI_POSITION_FROMLEFT,                            140, 36,  32, 12,ES_CENTER

   LTEXT "Specify the size of the image",               2007,   14, 60, 124, 12
   AUTOCHECKBOX "Fit to page",IDDI_SIZE_FITTOPAGE,              20, 74, 75, 12
   LTEXT "Inches wide:",                                2008,   20, 92, 40, 12
   EDITTEXT IDDI_SIZE_WIDTH,                                    64, 88, 32, 12,ES_CENTER
   LTEXT "Inches high:",                                2009,   20,106, 40, 12
   EDITTEXT IDDI_SIZE_HEIGHT,                                   64,102, 32, 12,ES_CENTER
   AUTOCHECKBOX "Maintain aspect ratio", IDDI_SIZE_MAINTAIN_ASPECT_RATIO, 100,95, 80, 12

   LTEXT "Specify the page that will contain the image",IDDI_PAGE_LABEL5,                   14, 124, 160, 12
   AUTORADIOBUTTON "On this page:",IDDI_PAGE_PAGENO_OPT,                                    20, 138,  54, 12, WS_GROUP
   EDITTEXT IDDI_PAGE_PAGENO,                                                               78, 136,  32, 12,ES_CENTER
   AUTORADIOBUTTON "On the last page", IDDI_PAGE_ONLAST,                                    20, 152,  64, 12
   AUTORADIOBUTTON "Create a new last page", IDDI_PAGE_NEWLAST,                             20, 166, 128, 12

   AUTOCHECKBOX "Keep the captured image next to the document ?", IDDI_POSITION_KEEP_IMAGE, 14, 180, 255, 12

   LTEXT "Specify the file saving options:",IDC_STATIC,         14,32, 160, 12

#undef ADDITIONAL_TOP_SPACE
#define ADDITIONAL_TOP_SPACE 20

#include "resultDispositionSaveOptions.rc"

   LTEXT "",IDDI_TOOLBOX_NEED_ADMIN_PRIVILEGES,0,0,280, 12 

END

#include "resultDispositionSaveOptionsMore.rc"
