// Copyright 2017 InnoVisioNate Inc. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include <windows.h>
#include <winres.h>
#include <commctrl.h>

#include "resource.h"
#include "ToolBoxResources.h"

VS_VERSION_INFO VERSIONINFO

 FILEVERSION 4,0,0,1
 PRODUCTVERSION 4,0,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "InnoVisioNate\0"
            VALUE "FileDescription", "CursiVision FTP backend\0"
            VALUE "FileVersion", "5, 0, 1, 1\0"
            VALUE "InternalName", "ftpEnd.ocx\0"
            VALUE "LegalCopyright", "Copyright © 2011,2012,2013,2014 InnoVisioNate Inc.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "ftpBackEnd.ocx\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "CursiVision FTP backend\0"
            VALUE "ProductVersion", "5.0.1\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDD_DISPOSITION_FTP DIALOGEX 0, 0, 256, 128 + 64
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE  
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   AUTOCHECKBOX "Show this dialog before sending ?",IDDI_FTP_SHOWDIALOG,8,4,128,12,WS_TABSTOP | WS_VISIBLE

   GROUPBOX "FTP Server settings",IDDI_FTP_GROUP,8,4 + 14, 220, 64 - 8

   LTEXT "FTP Server:",-1,16,16 + 14,48,12
   EDITTEXT IDDI_FTP_SERVER,16 + 48,16 + 14 - 2,64 + 16,12,ES_AUTOHSCROLL | WS_TABSTOP

   LTEXT "Port:",-1,16 + 48 + 64 + 16 + 4,16 + 14,20,12
   EDITTEXT IDDI_FTP_PORT,16 + 48 + 64 + 16 + 16 + 4,16 + 14 - 2,24,12,ES_CENTER | ES_NUMBER | WS_TABSTOP

   LTEXT "User name:",-1,16,16 + 14 + 12 + 2,48,12
   EDITTEXT IDDI_FTP_USERNAME,16 + 32 + 8,16 + 14 + 12 + 2 - 2,64,12,ES_AUTOHSCROLL | WS_TABSTOP

   LTEXT "Password:",-1,16,16 + 14 + 12 + 2 + 12 + 2,48,12
   EDITTEXT IDDI_FTP_PASSWORD,16 + 32 + 8,16 + 14 + 12 + 2 + 12 + 2 - 2,64,12,ES_AUTOHSCROLL | ES_PASSWORD | WS_TABSTOP

//   EDITTEXT IDDI_FTP_LOG,8,4 + 14 + 64 - 8 + 8, 220, 64 + 24,ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE

   PUSHBUTTON "Send",IDDI_FTP_SEND,8,4 + 14 + 64 - 8 + 8 + 64 + 24 + 4, 24, 14

#if 0
   GROUPBOX "Document settings",IDC_STATIC,8,128 + 16, 220, 48 + 12

   RTEXT "Subject:", IDC_STATIC,8 + 2,128 + 16 + 8 + 4,32,12
   EDITTEXT IDDI_FTP_SUBJECT, 8 + 2 + 32 + 2,128 + 16 + 8 + 2,128 + 32 + 8,12,ES_AUTOHSCROLL | WS_TABSTOP
   LTEXT "Use %f as a placeholder for the file name, %F for the path and file name",IDC_STATIC,8 + 2 + 32 + 2,128 + 16 + 8 + 2 + 12 + 2,128 + 32,24

   RTEXT "Body:", IDC_STATIC,8 + 2,128 + 16 + 8 + 2 + 12 + 4 + 24 + 2 - 8,32,12
   EDITTEXT IDDI_FTP_BODY, 8 + 2 + 32 + 2,128 + 16 + 8 + 2 + 12 + 2 + 24 + 2 - 8,128 + 32 + 8 - 16,12,ES_AUTOHSCROLL | WS_TABSTOP
   PUSHBUTTON "Edit",IDDI_FTP_BODY_EDIT, 8 + 2 + 32 + 2 + 128 + 32 + 8 - 16 + 4,128 + 16 + 8 + 2 + 12 + 2 + 24 + 2 - 8 - 2,24,15,WS_TABSTOP
#endif

   LTEXT "Changes are disabled because Admin privileges are required to change tools in printing profiles",IDDI_TOOLBOX_NEED_ADMIN_PRIVILEGES,
                           0,0,256, 24 


END

STRINGTABLE {
1 ""
}