
#include <windows.h>
#include <winres.h>
#include <commctrl.h>

#include "resource.h"
#include "ToolBoxResources.h"

#include "versionInfo.h"

VINFO(VFT_DLL)

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "InnoVisioNate\0"
            VALUE "FileDescription", "The CursiVision Forward to Receptor Tool. Sends a document to CursiVision on another computer\0"
            VALUE "FileVersion", CV_PRODUCT_VERSION
            VALUE "InternalName", "ForwardToReceptor.dll\0"
            VALUE "LegalCopyright", "Copyright © 2009-2023 InnoVisioNate Inc.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "ForwardToReceptor.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "CursiVision Forward To Receptor tool\0"
            VALUE "ProductVersion", CV_PRODUCT_VERSION
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


IDD_RECEPTOR DIALOGEX 0, 0, 256 + 64, 256
STYLE DS_SETFONT | DS_3DLOOK | WS_CHILD | WS_VISIBLE  
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

   LTEXT "Please specify the name of the server running the CursiVisionReceptor service",IDC_STATIC, 8, 8, 300, 12
   LTEXT "A server running this service will present the document for signing to the user logged into that computer.",IDC_STATIC, 8, 22, 300, 16

   LTEXT "Server:",IDC_STATIC,                                      8, 56, 48, 14,ES_RIGHT
   EDITTEXT IDDI_BACKENDS_RECEPTOR_SERVER,                         58, 52, 96, 14,ES_AUTOHSCROLL | WS_TABSTOP

   LTEXT "Then to server:",IDC_STATIC,                              8, 74, 48, 14,ES_RIGHT
   EDITTEXT IDDI_BACKENDS_RECEPTOR_NEXT_SERVER,                    58, 70, 96, 14,ES_AUTOHSCROLL | WS_TABSTOP

   LTEXT "Use the following option to save the document on the server.\r\
The option is used only to save the document, no one at the server computer will sign it.\r\r\
The path specified is in terms of the server's disks",IDC_STATIC,           8, 96, 224, 40
   AUTOCHECKBOX "Save the document on the server",IDDI_SAVE_ON_SERVER,      8,144, 224, 14, WS_TABSTOP
   EDITTEXT IDDI_SERVER_LOCATION,                                           8,158, 224, 14, WS_TABSTOP

   LTEXT "",IDDI_TOOLBOX_NEED_ADMIN_PRIVILEGES,0,0,280, 12 

END

